# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.docker/*/
*.tgz

currentState/*
device_repos/*
repos/*

#Compiled go applications
src/apps/hello-world/src/hello-world
src/WOS/gitops_pullservice/src/gitops_pullservice
src/WOS/gitops_pushservice/src/gitops_pushservice
src/WOS/orchestration_portal/src/orchestration_portal
src/WOS/orchestration_service/src/orchestration_service
src/WOSA/gitops_client/src/gitops_client